# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env*.local

# hardhat generated
artifacts/
cache/
types/

# local/editor/helper files
.vscode/
*.zip
important-project-files.txttsconfig.tsbuildinfo
important-project-files.txt
tsconfig.tsbuildinfo
